<!-- this must be wrapped in: <ul class="collapsible" data-collapsible="accordion"></ul> -->
<li>
  <div class="collapsible-header"><%= task.name %></div>
  <div class="collapsible-body"><span>
    <p>task.description</p>
    <p>task.deadline</p>
  </span></div>
</li>
