<div class="collection">
  <a href="#!" class="collection-item">Alvin</a>
  <a href="#!" class="collection-item active">Alvin</a>
  <a href="#!" class="collection-item">Alvin</a>
  <a href="#!" class="collection-item">Alvin</a>
</div>

  <%= link_to "Some Page", some_path %>
</div>

        <%= link_to "Edit", edit_project_path(project) %>
        <%= link_to "Delete", project_path(project), method: :destroy, class: "float_right" %>
      </div>
    </div>