<div class="container">
	<h1>New Department</h1>
	<%= form_with model: @department do |f| %>
		<%= f.text_field :name, placeholder: "Department Name" %>
		<%= f.submit "Create Department", class: "btn" %>
	<% end %>
</div>