<div class="col s6 card">
  <div class="card-content">
    <span class="card-title">
    	<%= link_to project.name, project_path(project) %></span>
      <% project.tasks.all.each do |task| %>
        <ul class="collapsible" data-collapsible="accordion">
          <%= render task %>
        </ul>
      <% end %>
  </div>
  <div class="card-action">
      <%= link_to "Edit", edit_project_path(:id) %>
      <%= link_to "Delete", project_path(project), method: :destroy, class: "float_right" %>
  </div>
</div>

