  <div class="col s6">
    <div class="card-content">
      <span class="card-title">
      	<%= link_to project.name, project_path(project) %></span>
        <% project.tasks.all.each do |task| %>
          <div class="collection">
            <%= link_to task.name, task, class: "collection-item" %>
          </div>
        <% end %>
    </div>
    <div class="card-action">
        <%= link_to "Edit", edit_project_path(:id) %>
        <%= link_to "Delete", project_path(project), method: :destroy, class: "float_right" %>
    </div>
  </div>

